# Prerequisites
*.d

# Object files
*.o
*.o.*
*.a
*.s
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
/boot.img
/kernel.img
/resource.img
/zboot.img
/tags
/TAGS
/linux
/vmlinux
/vmlinux.32
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Related in confgurations
include/config
include/generated

# Certs
certs/*

# Kernel Module Compile Results
*.mod*
*.cmd
*.builtin
*.tmp
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.config
.tmp_vmlinux*
.version
